@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$sepia: #ffeacb;
$body-background-color: $sepia;

@import "../node_modules/bulma/bulma";

p, pre {
	margin-bottom: 1em;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0 .2em 0;
}
