node_modules
data/*.avif
data/*.pdf
data/*.toml
.fonts
static
public

# SILE
lua_modules
*.rockslock

# PagedJS
data/decasify.js

# LaTeX
data/*.aux
data/*/*-aux
data/*.log

# Glu
data/*-aux.json
all-system-fonts.css

# Speedata
data/*-aux.xml
data/*-protocol.xml
data/*.finished
data/*.status
data/*.vars
