<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Polytype – {{ page.title | default(value="Home") }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}">
    {% endblock %}
  </head>
  <body>
    <h1>Polytype</h1>
    <h2>Samples</h2>
    {% set samples = load_data(path="/data/samples.toml") -%}
    {% for sample in samples["sample"] %}
    <h3>{{ sample.title }}</h3>
    <p>
      {{ sample.description }}
      <ul>
        {% for typesetter in sample.typesetters %}
        <li>{{ typesetter }} (<a href="{{ sample.id }}-{{ typesetter }}.pdf">pdf</a>)</li>
        {% endfor %}
      </ul>
    </p>
    {% endfor %}
  </body>
</html>
