{% if section %}
{%   set slug = "" %}
{% elif page %}
{%   set slug = page.slug %}
{% endif %}
<aside class="menu">
  <p class="menu-label">
    Sample Gallery
  </p>
  <ul class="menu-list">
    {% set samples = get_section(path="_index.md") %}
    {% for sample in samples.pages %}
    <li{% if sample.slug == slug %} class="is-active"{% endif %}>
      <a href="{{ get_url(path=sample.slug) }}">{{ sample.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <p class="menu-label">
    About
  </p>
  <ul class="menu-list">
    <li>
      <a href="/">Project Goals</a>
    </li>
    <li>
      <a href="https://github.com/alerque/polytype">Sources on GitHub</a>
    </li>
  </ul>
  <p class="menu-label">
    Typesetting Engines
  </p>
  <ul class="menu-list">
    <li>
      <a href="https://sile-typesetter.org">SILE</a>
    </li>
    <li>
      <a href="https://typst.app">Typst</a>
    </li>
    <li>
      <a href="https://www.latex-project.org">LaTeX</a>
    </li>
    <li>
      <a href="https://pagedjs.org">paged.js</a>
    </li>
    <li>
      <a href="https://weasyprint.org">WeasyPrint</a>
    </li>
    <li>
      <a href="https://www.speedata.de">Speedata</a>
    </li>
    <li>
      <a href="https://www.gnu.org/software/groff/groff.html">Groff</a>
    </li>
    <li>
      <a href="https://patoline.github.io/">Patoline</a>
    </li>
    <li>
      <a href="https://github.com/gfngfn/SATySFi">SATySFi</a>
    </li>
    <li>
      <a href="https://github.com/gfngfn/SATySFi">SATySFi</a>
    </li>
  </ul>
</aside>
