{% extends "default.html" %}

{% block content %}

<h2 class="title is-2">{{ page.title }}</h2>

{{ page.content | safe }}

{% for typesetter in page.extra.typesetters %}
{% set manifest = load_data(path="/data/" ~ page.slug ~ "-" ~ typesetter ~ ".toml") %}

<a id="{{ typesetter }}" /></a>

<h3 class="title is-3">{{ typesetter }}</h3>

<div class="columns">
  <div class="card column is-one-third">
    <div class="card-image">
      <img src="{{ get_url(path=manifest.preview) }}" />
    </div>
  </div>
  <div class="column">

    <p>
      Download:
      ( <a download href="{{ get_url(path=manifest.demosrc) }}">source</a>
      | <a download href="{{ get_url(path=manifest.demoout) }}">pdf</a>
      )
    </p>

    <h4 class="title is-4">Input document</h4>
    {% set source = load_data(path=manifest.src) | safe %}
    <pre class="sample" data-language="{{ typesetter }}">{{ source }}</pre>

    <h4 class="title is-4">Render command</h4>
    <code>{{ manifest.cmd }}</code>
  </div>
</div>

{% endfor %}

{% endblock %}
