{% extends "default.html" %}

{% block content %}

<h2 class="title is-2">{{ page.title }}</h2>

{{ page.content | safe }}

{% for typesetter in page.extra.typesetters %}
{% set manifest = load_data(path="/data/" ~ page.slug ~ "-" ~ typesetter ~ ".toml") %}

<a id="{{ typesetter }}" /></a>

<div class="engine">
  <div class="titlebar">
    <span class="title">{{ typesetter }}</span>
  </div>

  <div class="workspace">
    <div class="filetree">
      <span class="treelabel">Files</span>
      <a class="file" download href="{{ get_url(path=manifest.demosrc) }}">{{ manifest.demosrc }}</a>
      <a class="file" download href="{{ get_url(path=manifest.demoout) }}">{{ manifest.demoout }}</a>
    </div>

    <div class="editor-pane">
      <div class="filetab">{{ manifest.demosrc }}</div>
      {% set source = load_data(path=manifest.src) | safe %}
      {% set ext = manifest.src | split(pat=".") | last %}
      <pre class="sample" data-language="{% if typesetter != "glu" %}{{ typesetter }}{% elif ext == "md" %}markdown{% elif ext == "lua" %}lua{% else %}html{% endif %}">{{ source }}</pre>

      <div class="terminal-pane">
        <div class="terminalbar">Terminal</div>
        <pre class="terminal"><code><span class="symbol">$ </span>{{ manifest.cmd }}</code></pre>
      </div>
    </div>

    <div class="preview-pane">
      <img src="{{ get_url(path=manifest.preview) }}" />
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
