name: GitHub Pages

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  gh-pages:
    # Puppeteer (used by pagedjs) has issues with Ubuntu 23.04+
    # https://github.com/puppeteer/puppeteer/issues/12818
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache Nodejs downloads
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package.json', 'package-lock.json') }}

      - name: Cache LuaRocks modules
        uses: actions/cache@v4
        with:
          path: lua_modules
          key: lua-modules-${{ hashFiles('polytype-dev-1.rockspec', 'polytype-dev-1.rockslock') }}

      - name: Cache Typst packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/typst
          key: typst-packages-${{ hashFiles('~/.cache/typst/**/typst.toml') }}

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Cache Nix builds
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Install Nix package dependencies
        run: |
          nix-channel --update
          nix-shell --run true

      - name: Install Node module dependencies
        run: |
          nix-shell --run 'npm ci'

      - name: Generate static site pages
        run: |
          nix-shell --pure --run 'make public'

      - name: Inject CNAME
        if: ${{ github.repository == 'alerque/polytype' }}
        run: |
          nix-shell --pure --run 'make public/CNAME'

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force_orphan: true
